*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

header{
    position: sticky;
    top: 0;
    z-index: 10000;
}

nav{
    background: #cb1634;
    height: 80px;
    width: 100%;
}

nav ul{
    float: right;
    margin-right: 20px;
}

nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a{
    color: #fff;
    font-size: 18px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: capitalize;
}

li a:hover{
    background: #cb168f;
    transition: 3s;
}
/* INICIO */
section.banner{
    background: linear-gradient(to left, rgb(255 255 255), rgb(234 243 240));
    padding: 3rem 0;
}

.containerB{
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(20rem, 1fr));
    grid-gap: 2rem;
}

.col1{
    display: flex;
    align-items: center;
    justify-content: center;
}
/*IMAGENES TAMAÑO*/
.imgBanner{
    width: 70%;
    height: auto;
    align-items: center;
    
}

.col2{
    padding: 1rem 2rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

h1{
    font-size: 2rem;
    color: #cb1634;
}

#txtBanner{
    margin: 2rem 0;
    font-size: 1.3rem;
    line-height: 2rem;
    text-align: justify;
}

.btnBenner{
    background: #cb1634;
    color: #fff;
    padding: 10px 20px;
    border-radius: 25px;
    text-decoration: none;
}

/*SERVICIOS*/
.mar{
    padding: 3rem 0;
}
.subServices{
    text-align: center;
    padding-bottom: 2rem;
    color: #cb1634;
}

.containerS{
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(18rem, 1fr));
    grid-gap: 2rem;
}
.boxS{
    padding: 2rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 55px 5px rgb(0 0 0/6%);
}
.imgMar{
    width: 30%;
}
h3{
    color: #f62c51;
    margin: 10px 0;
}
.boxS p{
    text-align: center;
}

/*PORTAFOLIO*/
.val{
    padding: 3rem 0;
}
.subportafolio{
    text-align: center;
    padding-bottom: 2rem;
    color: #f62c51;
}

.containerP{
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(18rem, 1fr));
    grid-gap: 2rem;
}
.boxP{
    padding: 2rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 55px 5px rgb(0 0 0/6%);
}
.imgVal{
    width: 30%;
}

h3{
    color: black;
    margin: 10px 0;
}
.boxP p{
    text-align: center;
}

/*2 Meses*/
.dosMeses{
    padding: 3rem 0;
}
.sub2Meses{
    text-align: center;
    padding-bottom: 2rem;
    color: #cb1634;
}

.container2{
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(18rem, 1fr));
    grid-gap: 2rem;
}
.box2{
    padding: 2rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 55px 5px rgb(0 0 0/6%);
}
.img2{
    width: 100%;
}
h3{
    color: #f62c51;
    margin: 10px 0;
}
.box2 p{
    text-align: center;
}

/*Footer*/
footer{
    background-color: #bd465c;
    color: #fff;
    padding: 20px;
    margin-top: 50px;
    text-align: center;
}



